.formUserStyle{
    font-size: 14px;
    background: #26292C;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
    width: 100%;
    height: 60px;
    color: #E0E0E0;
    padding-left: 8%;

    &:focus{
        outline: 0;
    }

    &::placeholder {
        color: #E0E0E0;
    }
}

div{
    width: 100%;
    height: 250%;
    position: relative;
}

img{
    position: absolute;
    top: 33%;
    right: 8%;
}


.formSubmitStyle{
    
    font-size: 15px;
    box-sizing: border-box;
    border-radius: 50px;
    width: 100%;
    background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    border: 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
    height: 60px;

    &:focus{
        outline: 0;
    }

}

.formErrorStyle{
   border: 1px solid  #E9B425;
   
}

