.firstTitleStyle{
    font-size: 60px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    color: #E0E0E0;
}

.posTitleStyle{
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    color: #E0E0E0;
}


.grauStyle{
    padding-left: 10%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 49px;
}

.homeTitleEspecial{
    line-height: 1.3em;
    font-size: 36px;
    color: #C12D18;
    font-weight: 700;
}

.homeTitle{
    line-height: 1.3em;
    font-size: 64px;
    color: #C12D18;
    font-weight: 700;
}