#homeArea{
    display: flex;
}

#logoCompass{
    position: absolute;
    left: 0px;
    bottom: 0px;
    max-width: 800px;
}

 
#logoCompass img{
    width: 85%;
}

#areaText{
    display: block;
    position: absolute;
    text-align: end;
    height: 30%;
    margin-top: 3%;
    left: 40%;
    letter-spacing: 0.4px;
}