#footer{
    display: flex;
    position: absolute;
    justify-self: flex-end;
    bottom: 0px;
    width: 100%;
}

#footerHome{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 12vh;
    background: linear-gradient(90.16deg, rgb(51, 56, 61) 0%, rgb(28, 29, 32) 100%);
}

#barra{
    background-color: rgba(255, 255, 255, 0.925);
    width: 1px;
    height: 70px;
    margin-right: 10%;
}

#buttonLogout{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #1c1d2000;
    border: 0;
    width: 10%;
    height: 100%;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

#buttonLogout:hover{
    color:#C13216;
}

#textFooterArea{
    width: 35%;
    margin-left: 20%;
    margin-right: 1%;
}

#buttonNextNavigation{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #FFFFFF;
    border: 0;
    width: 10%;
    height: 100%;
    color: #C13216;
    font-weight: 400;
    cursor: pointer;
}

#buttonNextNavigation:hover{
    color: #F0F0F0;
    background-color: #C13216;
    border: 0;
}



#areaContador{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: 10%;
}




